<div class="modal fade in" id="old-version-modal" tabindex="-1" role="dialog" style="display: block">
  <div class="modal-dialog modal-lg" role="document" style="width:95%;height:92%;padding:0;margin-top:2em">
    <div class="modal-content" style="height:99%">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <div style="top:50%;transform:translateY(-50%);position:relative;text-align:center">
        <div class="modal-header" style="border-bottom:none">
          <span class="modal-title">Red V2 has reached end of life</span>
        </div>
        <div class="modal-body">
          <p>But don't worry! Red V3 is already here and you can install it using one of installation guides on <a href="https://docs.discord.red/en/stable/">our new site!</a></p>
        </div>
        <div class="modal-footer" style="padding-top:14px;padding-bottom:10px;text-align:center;border-top:none">
          <a class="btn btn-primary" href="https://docs.discord.red/en/stable/" role="button">Go to Red V3 docs</a>
          <button type="button" class="btn" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script type="text/javascript">
  $(document).ready(
    function() {
      $('body').removeClass('modal-open');
      $('.modal-backdrop').remove();

      $('#old-version-modal').modal('show');
    }
  );
</script>
<div class="modal-backdrop in"></div>
<style>
  .modal-body {
    padding:20px 10%
  }
  .modal-body>p {
    font-size:1.5em;
    font-weight:500;
  }
  .modal-header>span {
    font-size:2em;
    font-weight:600;
  }
  @media (min-width: 600px) {
    .modal-body {
      padding:20px 25%
    }
    .modal-body>p {
      font-size:2em;
      font-weight:500;
    }
    .modal-header>span {
      font-size:2.6em;
      font-weight:600;
    }
  }
</style>  